body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

footer {
  font-size: 20px;
  text-align: center;

  margin-top: 20px;
  margin-bottom: 20px;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  /* margin: 20px 0; */
  padding: 10px;
  /* new */
  width: 100%;
  height: 100%;
}

p {
  margin: 0%;
  padding: 20px 0 0 0;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.container {
  display: block;
  padding: 50px;
}

.row {
  /* turned off */
  /* white-space: pre-wrap; */
  height: 120px;
  border: 1px 0 solid black;
  /* new */
  /* width: 100%; */
  /* height: 100%; */
}

.description-container {
  background-color: lightgray;
  /* width: 100%;
  height: 100%; */
  padding-left: 0;
  padding-right: 0;
  border-radius: 0 20px 20px 0;
}

.description-container:hover {
  background-color: lemonchiffon; 
}

.description{
  /* turned off */
  /* white-space: pre-wrap; */
  /* new */
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  /* new */
  border-top: 1px solid black;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  height: 100%;
}

.description p {
  padding: 20px;
  width: 100%;
  height: 100%;
}

.time-block{
  text-align: center;
  border-radius: 15px;
  /* new */
  padding: 0%;
  margin: 0%;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  /* new */
  /* white-space: pre-wrap; */
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  /* background: linear-gradient(180deg, lemonchiffon, white); */
}

.hour-time {
  display: inline-block;
  align-items: center;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
  /* new */
  width: 100%;
  height: 100%;
  /* border-bottom: none; */
}

.saveBtn:hover {
  font-size: 22px;
  transition: all .1s ease-in-out;
}

.bottom-div {
  border-bottom: 1px solid black;
}

.bottom-hour {
  border-bottom: 1px dashed black;
}

.highlight {
  background-color: #77dd77;
  transition: all .1s ease-in-out;
}

/* .highlight:hover {
  font-size: 20px;
} */


@media screen and (max-width: 768px) {

  .saveBtn:hover {
    font-size: 16px;
    transition: all .1s ease-in-out;
  }
  
}